* {
  margin: 0;
  padding: 0;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  background-color: var(--body-bg-color);
  width: 100vw;
  height: 100vh;
  font-family: Merriweather Sans;
}

.todo {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.profile {
  background-color: var(--bg-cards);
  width: 348px;
  height: 292px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  margin: 10px 40px;
  padding: 10px 0px;
}

.city {
  background-color: var(--bg-cards);
  width: 348px;
  height: 348px;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 10px 40px;
}

.city div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--text-color);
  padding: 10px 10px;
}

.tech {
  background-color: var(--bg-cards);
  width: 348px;
  height: 208px;
  border-radius: 20px;
  margin: 10px 40px;
  color: var(--text-color);
}

.techs {
  width: 86px;
  height: 24px;
  background-color: var(--bg-techs);
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  gap: 50px;
  color: #000000;
}

.text-tech {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  padding: 20px 15px;
}

.techsAll {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 2px 0px 20px 0px;
}

.colunmOne {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.colunmTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.colunmThree {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.experience {
  background-color: var(--bg-cards);
  width: 348px;
  height: 349px;
  border-radius: 20px;
  margin: 10px 40px;
}

.text-experiences {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  padding: 20px 15px;
  color: var(--text-color);
}

.experiences {
  width: 175px;
  height: 243px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: #837e9f;
}

.experiences {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px 45px;
}

.text-small {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.education {
  background-color: var(--bg-cards);
  width: 348px;
  height: 352px;
  border-radius: 20px;
  margin: 10px 40px;
}

.photoProfile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoProfile img {
  width: 30%;
  border-radius: 100px;
}

.name {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  color: var(--text-color);
}

.office {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: var(--text-color);
}
